{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NetPets!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/petlist">Pet list</a></li>
            </ul>
            {% if current_user.is_anonymous %}
            <ul class="nav navbar-nav">
                <li><a href="/register/">Register</a></li>
            </ul>
                <ul class="nav navbar-nav">
                <li><a href="/login">Login</a></li>
            </ul>
                {% else %}    
            <ul class="nav navbar-nav">
                <li><a href="/logout">Logout {{current_user.username}}</a></li>
            </ul>
            {% if current_user.admin == True %}
            <ul class="nav navbar-nav">
                <li><a href="/addPet">Add pets</a></li>
            </ul>
            {% endif %}
        {% endif %}

            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% block footer %}
<p><br>Made for CSC 210 by Adi Tangirala, Ariel Hirschhorn, Ella Apykhtin, and Katie Karabetsos.  </p>
{% endblock %}
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
