{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NetPets{% endblock %}

{% block page_content %}

<body>
	<section id="image-header">
		<h1> <center>Improve your life - find your perfect pet.</center> </h1>
		<center>
			<div style="padding-right: 80px; padding-left: 80px;">
			<table cellpadding="10">
				<tr><a href="/"> Dogs </a> </tr>
				<tr><a href="/"> Cats </a></tr>
				<tr><a href="/"> Small Mammals </a></tr>
				<tr><a href="/"> Birds </a></tr>
				<tr><a href="/"> Reptiles </a></tr>
			</table>

			</div>
		</center>
	</section>
	<section id="previews">
		<h2> {{petcount}}+ Pets In Need of Adoption: </h2>
		<ul>
			{% for pet in previews %}
			<li>
				<a href="/petview?id={{pet.id}}"> <img src="{{ url_for('static', filename = 'uploads/'+pet.filename) }}"> </a>
			</li>
			{% endfor %}
			<li> <a href="/petlist"> + </a> </li>
			
		</ul>
	</section>
	<section id="instructions">
		<h3> Planning to Adopt? </h3>
		<p>
			Check out our adoption guides up top!
		</p>
		<ul>
			<li>
				<img src="/static/site-images/placeholder-square.webp">
				<h3> General Adoption Checklist </h3>
				<p> A short description of what this page is! </p>
				<a href="/"> <button class="btn btn-primary"> Learn More </button>  </a>
			</li>
			<li>
				<img src="/static/site-images/placeholder-square.webp">
				<h3> Dog Care Guide </h3>
				<p> A short description of what this page is! </p>
				<a href="/"> <button class="btn btn-primary"> Learn More </button>  </a>
			</li>
			<li>
				<img src="/static/site-images/placeholder-square.webp">
				<h3> Cat Care Guide </h3>
				<p> A short description of what this page is! </p>
				<a href="/"> <button class="btn btn-primary"> Learn More </button>  </a>
			</li>
			<li>
				<img src="/static/site-images/placeholder-square.webp">
				<h3> Bird Care Guide </h3>
				<p> A short description of what this page is! </p>
				<a href="/"> <button class="btn btn-primary"> Learn More </button>  </a>
			</li>
			<li>
				<img src="/static/site-images/placeholder-square.webp">
				<h3> Fish Care Guide </h3>
				<p> A short description of what this page is! </p>
				<a href="/"> <button class="btn btn-primary"> Learn More </button>  </a>
			</li>
			<li>
				<img src="/static/site-images/placeholder-square.webp">
				<h3> Lizard Care Guide </h3>
				<p> A short description of what this page is! </p>
				<a href="/"> <button class="btn btn-primary"> Learn More </button> </a>
			</li>
		</ul>
	</section>
	
</body>
</html>
	
{% endblock  %}
