{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NetPets{% endblock %}

{% block page_content %}

<!doctype html>
<html>
<head>
    <title>NetPets</title>
</head>

<body>
	<section id="search">
		<h1> Discover your perfect pet. </h1>
		<form method="POST" name="form" action="" enctype="multipart/form-data">
			<div id="first-half">
				<label for="species"> Species: </label>
				<select name="species">
					<option value="any"> All </option>
					<option value="dog"> Dog </option>
					<option value="cat"> Cat </option>
					<option value="small"> Small Mamamal </option>
					<option value="bird"> Bird </option>
					<option value="reptile"> Reptile </option>
					<option value="fish"> Fish </option>
					<option value="other"> Other </option>
				</select>
				<label for="age"> Age: </label>
				<select name="age">
					<option value="any"> Any </option>
					<option value="baby"> Baby </option>
					<option value="young"> Young </option>
					<option value="adult"> Adult </option>
					<option value="old"> Old </option>
				</select>
				<label for="sex"> Sex: </label>
				<select name="sex">
					<option value="unknown"> Any </option>
					<option value="m"> Male </option>
					<option value="f"> Female </option>
				</select>
			</div>
			<div id="second-half">
				<input type="checkbox" name="child">
				<label for="child"> Child Friendly Required </label>
				<input type="checkbox" name="other-pet">
				<label for="other-pet"> Other Pet Friendly Required </label>
			</div>
			<input type="submit" name="submit" value="Search" id="submit-btn" class="btn btn-primary">
		</form>
	</section>
    <ul id="pet-list">
		{% set age = ["Baby", "Young Adult", "Adult", "Elder"] %}
		{% set sex = ["Male", "Female", "Unknown"] %}
		{% for pet in pets %}
		<li> <a href="/petview?id={{pet.id}}">
			<img src="{{ url_for('static', filename = 'uploads/'+pet.filename) }}">
			<h1> {{pet.name}} </h1>
			<h2> {{age[pet.age]}} - {{sex[pet.sex]}} </h2>
		</a> </li>
		{% endfor %}
	</ul>
</body>
</html>
	
{% endblock  %}
