{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<!doctype html>
<html>
<div class="page-header">
      <div class="container">
            <h1>Update a Pet</h1>
      </div>
</div>
<body>
    <h1> Update a pet: <h1>
    <form method="POST" name="form" action="/updatepet" enctype="multipart/form-data">

        <p><input type= "text" name="petname" value="{{pet.name}}"></p>
        <label for="petname">Pet name</label>

      {% if pet.species==0 %}
      <p><input type="radio" id="dog" name="species" value="0" checked></p>
      <label for="dog">Dog</label>
      <p><input type="radio" id="cat" name="species" value="1"></p>
      <label for="cat">Cat</label>
      <p><input type="radio" id="small" name="species" value="2"></p>
      <label for="small">Small Mammal</label>
      <p><input type="radio" id="bird" name="species" value="3"></p>
      <label for="bird">Bird</label>
      <p><input type="radio" id="reptile" name="species" value="4"></p>
      <label for="reptile">Reptile</label>
      <p><input type="radio" id="fish" name="species" value="5"></p>
      <label for="fish">Fish</label>
      <p><input type="radio" id="other" name="species" value="6"></p>
      <label for="other">Other</label>
      {% elif pet.species==1 %}
          <p><input type="radio" id="dog" name="species" value="0" ></p>
      <label for="dog">Dog</label>
      <p><input type="radio" id="cat" name="species" value="1"checked></p>
      <label for="cat">Cat</label>
      <p><input type="radio" id="small" name="species" value="2"></p>
      <label for="small">Small Mammal</label>
      <p><input type="radio" id="bird" name="species" value="3"></p>
      <label for="bird">Bird</label>
      <p><input type="radio" id="reptile" name="species" value="4"></p>
      <label for="reptile">Reptile</label>
      <p><input type="radio" id="fish" name="species" value="5"></p>
      <label for="fish">Fish</label>
      <p><input type="radio" id="other" name="species" value="6"></p>
      <label for="other">Other</label>
      {% elif pet.species==2 %}
          <p><input type="radio" id="dog" name="species" value="0"></p>
      <label for="dog">Dog</label>
      <p><input type="radio" id="cat" name="species" value="1"></p>
      <label for="cat">Cat</label>
      <p><input type="radio" id="small" name="species" value="2" checked></p>
      <label for="small">Small Mammal</label>
      <p><input type="radio" id="bird" name="species" value="3"></p>
      <label for="bird">Bird</label>
      <p><input type="radio" id="reptile" name="species" value="4"></p>
      <label for="reptile">Reptile</label>
      <p><input type="radio" id="fish" name="species" value="5"></p>
      <label for="fish">Fish</label>
      <p><input type="radio" id="other" name="species" value="6"></p>
      <label for="other">Other</label>
      {% elif pet.species==3 %}
          <p><input type="radio" id="dog" name="species" value="0"></p>
      <label for="dog">Dog</label>
      <p><input type="radio" id="cat" name="species" value="1"></p>
      <label for="cat">Cat</label>
      <p><input type="radio" id="small" name="species" value="2"></p>
      <label for="small">Small Mammal</label>
      <p><input type="radio" id="bird" name="species" value="3" checked=""></p>
      <label for="bird">Bird</label>
      <p><input type="radio" id="reptile" name="species" value="4"></p>
      <label for="reptile">Reptile</label>
      <p><input type="radio" id="fish" name="species" value="5"></p>
      <label for="fish">Fish</label>
      <p><input type="radio" id="other" name="species" value="6"></p>
      <label for="other">Other</label>
      {% elif pet.species==4 %}
          <p><input type="radio" id="dog" name="species" value="0"></p>
      <label for="dog">Dog</label>
      <p><input type="radio" id="cat" name="species" value="1"></p>
      <label for="cat">Cat</label>
      <p><input type="radio" id="small" name="species" value="2"></p>
      <label for="small">Small Mammal</label>
      <p><input type="radio" id="bird" name="species" value="3"></p>
      <label for="bird">Bird</label>
      <p><input type="radio" id="reptile" name="species" value="4" checked></p>
      <label for="reptile">Reptile</label>
      <p><input type="radio" id="fish" name="species" value="5"></p>
      <label for="fish">Fish</label>
      <p><input type="radio" id="other" name="species" value="6"></p>
      <label for="other">Other</label>
      {% elif pet.species==5 %}
          <p><input type="radio" id="dog" name="species" value="0"></p>
      <label for="dog">Dog</label>
      <p><input type="radio" id="cat" name="species" value="1"></p>
      <label for="cat">Cat</label>
      <p><input type="radio" id="small" name="species" value="2"></p>
      <label for="small">Small Mammal</label>
      <p><input type="radio" id="bird" name="species" value="3"></p>
      <label for="bird">Bird</label>
      <p><input type="radio" id="reptile" name="species" value="4"></p>
      <label for="reptile">Reptile</label>
      <p><input type="radio" id="fish" name="species" value="5" checked></p>
      <label for="fish">Fish</label>
      <p><input type="radio" id="other" name="species" value="6"></p>
      <label for="other">Other</label>
      {% elif pet.species==6 %}
      <p><input type="radio" id="dog" name="species" value="0" ></p>
      <label for="dog">Dog</label>
      <p><input type="radio" id="cat" name="species" value="1"></p>
      <label for="cat">Cat</label>
      <p><input type="radio" id="small" name="species" value="2"></p>
      <label for="small">Small Mammal</label>
      <p><input type="radio" id="bird" name="species" value="3"></p>
      <label for="bird">Bird</label>
      <p><input type="radio" id="reptile" name="species" value="4"></p>
      <label for="reptile">Reptile</label>
      <p><input type="radio" id="fish" name="species" value="5"></p>
      <label for="fish">Fish</label>
      <p><input type="radio" id="other" name="species" value="6" checked></p>
      <label for="other">Other</label>
      {% endif %}

      <p><input type= "text" name="breed" value="{{pet.breed}}"></p>
      <label for="breed">Pet breed</label>

      {% if pet.age ==0 %}
      <p><input type="radio" id="baby" name="age" value="0" checked></p>
      <label for="baby">Baby</label>
      <p><input type="radio" id="young" name="age" value="1"></p>
      <label for="young">Young Adult</label>
      <p><input type="radio" id="adult" name="age" value="2"></p>
      <label for="adult">Adult</label>
      <p><input type="radio" id="elder" name="age" value="3"></p>
      <label for="elder">Elder</label>
      {% elif pet.age ==1 %}
      <p><input type="radio" id="baby" name="age" value="0"></p>
      <label for="baby">Baby</label>
      <p><input type="radio" id="young" name="age" value="1" checked></p>
      <label for="young">Young Adult</label>
      <p><input type="radio" id="adult" name="age" value="2"></p>
      <label for="adult">Adult</label>
      <p><input type="radio" id="elder" name="age" value="3"></p>
      <label for="elder">Elder</label>
      {% elif pet.age ==2 %}
      <p><input type="radio" id="baby" name="age" value="0"></p>
      <label for="baby">Baby</label>
      <p><input type="radio" id="young" name="age" value="1"></p>
      <label for="young">Young Adult</label>
      <p><input type="radio" id="adult" name="age" value="2"checked></p>
      <label for="adult">Adult</label>
      <p><input type="radio" id="elder" name="age" value="3"></p>
      <label for="elder">Elder</label>
      {% elif pet.age ==3 %}
      <p><input type="radio" id="baby" name="age" value="0"></p>
      <label for="baby">Baby</label>
      <p><input type="radio" id="young" name="age" value="1"></p>
      <label for="young">Young Adult</label>
      <p><input type="radio" id="adult" name="age" value="2"></p>
      <label for="adult">Adult</label>
      <p><input type="radio" id="elder" name="age" value="3"checked></p>
      <label for="elder">Elder</label>
      {% endif %}
    
      {% if pet.sex ==0 %}
      <p><input type="radio" id="m" name="sex" value="0" checked></p>
      <label for="m">Male</label>
      <p><input type="radio" id="f" name="sex" value="1"></p>
      <label for="f">Female</label>
      <p><input type="radio" id="x" name="sex" value="2"></p>
      <label for="x">Sex Unknown</label>
      {% elif pet.sex ==1 %}
      <p><input type="radio" id="m" name="sex" value="0"></p>
      <label for="m">Male</label>
      <p><input type="radio" id="f" name="sex" value="1"checked></p>
      <label for="f">Female</label>
      <p><input type="radio" id="x" name="sex" value="2"></p>
      <label for="x">Sex Unknown</label>
      {% elif pet.sex ==2 %}
      <p><input type="radio" id="m" name="sex" value="0"></p>
      <label for="m">Male</label>
      <p><input type="radio" id="f" name="sex" value="1"></p>
      <label for="f">Female</label>
      <p><input type="radio" id="x" name="sex" value="2"checked></p>
      <label for="x">Sex Unknown</label>
      {% endif %}
   
      {% if pet.haveBabies == False %}
      <p><input type="radio" id="notSN" name="makeBabies" value="False"checked></p>
      <label for="notSN">Not spayed/neutered</label>
      <p><input type="radio" id="SN" name="makeBabies" value="True"></p>
      <label for="SN">Spayed/neutered</label>
      {% else %}
       <p><input type="radio" id="notSN" name="makeBabies" value="False"></p>
      <label for="notSN">Not spayed/neutered</label>
      <p><input type="radio" id="SN" name="makeBabies" value="True"checked></p>
      <label for="SN">Spayed/neutered</label>
      {% endif %}

      {% if pet.vaccinated == False %}
      <p><input type="radio" id="noShots" name="vaccinated" value="False"checked></p>
      <label for="noShots">Needs vaccinations</label>
      <p><input type="radio" id="shots" name="vaccinated" value="True"></p>
      <label for="shots">Up to date on vaccinations</label>
      {% else %}
      <p><input type="radio" id="noShots" name="vaccinated" value="False"></p>
      <label for="noShots">Needs vaccinations</label>
      <p><input type="radio" id="shots" name="vaccinated" value="True"checked></p>
      <label for="shots">Up to date on vaccinations</label>
      {% endif %}

      {% if pet.kidFriendly == False %}
      <p><input type="radio" id="noKids" name="kidFriendly" value="False"checked></p>
      <label for="noKids">Not good with children</label>
      <p><input type="radio" id="kids" name="kidFriendly" value="True"></p>
      <label for="kids">Good with children</label>
      {% else %}
      <p><input type="radio" id="noKids" name="kidFriendly" value="False"></p>
      <label for="noKids">Not good with children</label>
      <p><input type="radio" id="kids" name="kidFriendly" value="True"checked></p>
      <label for="kids">Good with children</label>
      {% endif %}


      {% if pet.petFriendly == False %}
      <p><input type="radio" id="noOtherPets" name="petFriendly" value="False"checked></p>
      <label for="noOtherPets">Not good with other pets</label>
      <p><input type="radio" id="otherPets" name="petFriendly" value="True"></p>
      <label for="otherPets">Good with other pets</label>
      {% else %}
      <p><input type="radio" id="noOtherPets" name="petFriendly" value="False"></p>
      <label for="noOtherPets">Not good with other pets</label>
      <p><input type="radio" id="otherPets" name="petFriendly" value="True"checked></p>
      <label for="otherPets">Good with other pets</label>
      {% endif %}

      <p><input type= "text" name="description"value="{{pet.description}}"></p>
      <label for="description">Pet description</label>

      {% if pet.status == False %}
      <p><input type="radio" id="adopted" name="status" value="False"checked></p>
      <label for="adopted">Adopted</label>
      <p><input type="radio" id="availibe" name="status" value="True"></p>
      <label for="availibe">Availible</label>
      {% else %}
      <p><input type="radio" id="adopted" name="status" value="False"></p>
      <label for="adopted">Adopted</label>
      <p><input type="radio" id="availibe" name="status" value="True"checked></p>
      <label for="availibe">Availible</label>
      {% endif %}
   
      <input type="hidden" value="{{pet.id}}" name="eyeD2">
      <p><input type="submit" value="Submit" action="./updatepet"></p>

    </form>
    <p> To see all pets in the database, click <a href="/petlist">here.</a></p>

</body>
</html>

{% endblock  %}