{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NetPets{% endblock %}

{% block page_content %}

<!doctype html>
<html>
<head>
    <title>NetPets</title>
</head>

<body>
	<div id="pet-view">
		<img src="{{ url_for('static', filename = 'uploads/'+pet.filename) }}" class="col-sm-6">
		<div class="col-sm-6">
			<h1> My name is {{pet.name}}! </h1>
			{% set species = ["dog", "cat", "small mammal", "bird", "reptile", "fish", "other"] %}
			{% set age = ["baby", "young adult", "adult", "elder"] %}
			{% set sex = ["male", "female", "sex unknown"] %}
			<p> {{pet.name}} </p>
			<p> {{species[pet.species]}} </p>
			<p> {{pet.breed}} </p>
			<p> {{age[pet.age]}} </p>
			<p> {{sex[pet.sex]}} </p>
			<p> Date added: {{pet.dateAdded}}</p>
			<p> Availible: {{pet.status}}</p>
			<p> Spayed/Neutered: {{pet.makeBabies}} </p>
			<p> Up-to-date vaccinations: {{pet.vaccinated}} </p>
			<p> {{pet.description}} </p>
			{% if current_user.admin==True %}
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<form method="POST" action="./adopted">
   		 	<input type="hidden" value="{{pet.id}}" name="eyeD">
   			<input type="submit" value="Mark as adopted">
   			</form>
   			<form method="POST" action="./delete">
   		 	<input type="hidden" value="{{pet.id}}" name="eyeD2">
   			<input type="submit" value="Delete this pet">
  			</form>
  			<form method="POST" action="./update">
   		 	<input type="hidden" value="{{pet.id}}" name="eyeD2">
   			<input type="submit" value="Update pet info">
  			</form>
  			{% endif %}
		</div>
	</div>
</body>
</html>
	
{% endblock  %}
