{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NetPets{% endblock %}

{% block page_content %}

<!doctype html>
<html>
<head>
    <title>NetPets</title>
</head>

<body>
	<section id="pet-view">
		<div class="row">
			<img src="{{ url_for('static', filename = 'uploads/'+pet.filename) }}" class="col-sm-6">
			<div class="col-sm-6">
				{% set species = ["dog", "cat", "small mammal", "bird", "reptile", "fish", "other"] %}
				{% set age = ["Baby", "Young Adult", "Adult", "Elder"] %}
				{% set sex = ["Male", "Female", "Unknown"] %}
				<h1> My name is {{pet.name}}! </h1>
				<div class="row">
					{% if (pet.species < 2) %}
						<p class="col-sm-4"> <em> Breed: </em> {{pet.breed}} </p>
					{% else %}
						<p class="col-sm-4"> <em> Species: </em> {{pet.breed}}</p>
					{% endif %}
					<p class="col-sm-4"> <em> Age: </em> {{age[pet.age]}} </p>
					<p class="col-sm-4 right"> <em> Sex: </em> {{sex[pet.sex]}}</p>
				</div>
				<div class="row">
					<p class="col-sm-6"> <em> Spayed/Neutered: </em> {{pet.makeBabies}} </p>
					<p class="col-sm-6 right"> <em> Vaccinated: </em> {{pet.vaccinated}} </p>
				</div>
				<p> {{pet.description}} </p>
				<button class="btn btn-primary"> Adopt me! </button>
			</div>
		</div>
	</section>
</body>
</html>
	
{% endblock  %}
