{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

<h2> Sign up </h2>
<form action = "" method = "POST">
{{ form.hidden_tag() }}

    <br>

    <p>
        {{form.username.label}} <br>
        {{form.username(size=30)}}
        {% if form.username.errors %}
            <ul class = "errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %} </ul>
        {% endif %}
    </p>

    <p>
        {{form.password.label}} <br>
        {{form.password(size=30)}}
        {% if form.password.errors %}
            <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %} </ul>
        {% endif %}
    </p>

    <p>
        {{form.confirm.label}} <br>
        {{form.confirm(size=30)}}
    </p>

    <p>
        {{form.serving.label}} <br>
        {{form.serving(size=30)}}
        {% if form.serving.errors %}
            <ul class="errors">{% for error in form.serving.errors %}<li>{{ error }}</li>{% endfor %} </ul>
        {% endif %}
    </p>

    <p>
        {{ form.hidden_tag() }}
        {{form.submit()}} <br>
    </p>
    
</form>


{% endblock %}